#mainArea {
  position: sticky;
  margin: 0;
  background: linear-gradient(297deg, #4b6cb7, #182848, #33c6a1);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 40s ease infinite;
  -moz-animation: AnimationName 40s ease infinite;
  animation: AnimationName 40s ease infinite;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #fff;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 24%;
  }
  50% {
    background-position: 100% 77%;
  }
  100% {
    background-position: 0% 24%;
  }
}
.player-info {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
}
.player-info h5 {
  position: relative;
  line-height: 60px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.player-info:hover {
  transform: skewX(-1deg);
  transition: transform 0.5s ease;
}

.form .field {
  margin: 0 50px;
}
.form::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "Open Sans";
}
.form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.form input[type=text],
.form input[type=password],
.form input[type=email] {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 15px 0px 15px 0px;
  position: inherit;
  width: 200px;
  height: 24px;
  text-align: center;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: white;
  transition: color 0.3s ease-out;
  margin-bottom: 15px;
}
.form .sub-btn {
  margin-top: 15px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border: none;
  margin-bottom: 20px;
}
.form .sub-btn:hover {
  background-color: #333743;
}

.pdfs {
  position: relative;
  margin: auto;
}

.pdflinks {
  margin-bottom: 100px;
}
.pdflinks:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.leaderboard h1 {
  color: #fff;
}

.card {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.card-img,
.card-img-top {
  border-radius: 20px;
  margin-bottom: 10px;
}

.lin-card {
  margin-left: 50%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 250px) and (max-device-width: 480px) {
  .player-info {
    width: 300px;
  }

  .form input[type=text],
.form input[type=password],
.form input[type=email] {
    width: 100px;
  }

  .dav-heading {
    display: none;
  }

  .pdflinks:hover {
    transform: none;
    cursor: pointer;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .player-info {
    width: 300px;
  }

  .form input[type=text],
.form input[type=password] input[type=email] {
    width: 100px;
  }

  .dav-heading {
    display: none;
  }

  .pdflinks:hover {
    transform: none;
    cursor: pointer;
  }
}
/* iPads (portrait and landscape) ----------- */
.pdfs {
  margin: auto;
}

#footer {
  margin-top: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../images/detective/screenshot.png) top center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 200px;
  left: 0;
  right: 0;
  display: inline;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #ffa500;
  border: 2px solid #ffa500;
  font-weight: 700;
}

#ab {
  margin: 150px 10px 10px 10px;
}

#ex {
  margin: 150px 10px 10px 10px;
}

#al {
  margin: 150px 10px 10px 10px;
}

#hero .zoom:hover {
  transform: scale(1.5) !important;
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*# sourceMappingURL=david.css.map */
