#mainArea {
	position: sticky;
	margin: 0;
	// background: radial-gradient(ellipse farthest-corner at center top, #000000 0%, #414141 100%);
	// background-image: url(../images/detective/andrew-kambel--x92Ig1Lsf4-unsplash.jpeg);
	// background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

	// background-image: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);

	background: linear-gradient(297deg, #4b6cb7, #182848, #33c6a1);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 40s ease infinite;
	-moz-animation: AnimationName 40s ease infinite;
	animation: AnimationName 40s ease infinite;

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

	color: #fff;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 24%;
	}
	50% {
		background-position: 100% 77%;
	}
	100% {
		background-position: 0% 24%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 24%;
	}
	50% {
		background-position: 100% 77%;
	}
	100% {
		background-position: 0% 24%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 24%;
	}
	50% {
		background-position: 100% 77%;
	}
	100% {
		background-position: 0% 24%;
	}
}

.player-info {
	position: relative;
	// margin: 100px;
	margin-top: 100px;
	margin-bottom: 100px;
	// margin-right: 30%;
	width: 500px;
	// height: 400px;
	text-align: center;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(10px);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	margin: auto;
	margin-top: 10px;

	h5 {
		position: relative;
		line-height: 60px;
		font-size: 36px;
		// font-weight: bold;
		// font-family: "Open Sans", sans-serif;
		// text-transform: uppercase;
		color: #fff;
		text-align: center;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(10px);
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
		margin-top: 0px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	&:hover {
		transform: skewX(-1deg);
		transition: transform 0.5s ease;
	}
}

.form {
	// text-align: center;

	.field {
		// position: relative;
		margin: 0 50px;
		// width: 180px;
	}

	&::-webkit-input-placeholder {
		color: #ffffff;
		font-family: 'Open Sans';
	}

	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #fff;
		opacity: 1; /* Firefox */
	}

	input[type='text'],
	input[type='password'],
	input[type='email'] {
		font-family: 'Open Sans', Calibri, Arial, sans-serif;
		font-size: 14px;
		font-weight: 100;
		padding: 15px 0px 15px 0px;
		position: inherit;
		width: 200px;
		height: 24px;
		text-align: center;

		border: none;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(10px);
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
		color: rgb(255, 255, 255);
		transition: color 0.3s ease-out;
		margin-bottom: 15px;
	}
	.sub-btn {
		margin-top: 15px;
		width: 100px;
		text-align: center;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		padding: 12px 0;

		color: #fff;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(10px);
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

		text-transform: uppercase;
		border: none;

		margin-bottom: 20px;

		&:hover {
			// background-color: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
			background-color: rgb(51, 55, 67);
			// transform: skewX(-10deg);
			// transition: transform 0.5s ease;
		}
	}
}

.pdfs {
	position: relative;
	margin: auto;
}

.pdflinks {
	margin-bottom: 100px;
	&:hover {
		transform: scale(1.5);
		transition: transform 0.5s ease;
		cursor: pointer;
	}
}

.leaderboard {
	h1 {
		color: #fff;
	}
}

.card {
	border-radius: 20px;
	// box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
	background-color: rgba(255, 255, 255, 0.05);
	background: rgba(255, 255, 255, 0.25);
	// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	// border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	&:hover {
		transform: scale(1.05);
		transition: transform 0.5s;
	}
}

.card-img,
.card-img-top {
	border-radius: 20px;
	margin-bottom: 10px;
}

.lin-card {
	margin-left: 50%;
}

// MEDIA QUERIES
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 250px) and (max-device-width: 480px) {
	.player-info {
		width: 300px;
	}
	.form {
		input[type='text'],
		input[type='password'],
		input[type='email'] {
			width: 100px;
		}
	}
	.dav-heading {
		display: none;
	}

	.pdflinks {
		&:hover {
			transform: none;
			cursor: pointer;
		}
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.player-info {
		width: 300px;
	}
	.form {
		input[type='text'],
		input[type='password'] input[type='email'] {
			width: 100px;
		}
	}
	.dav-heading {
		display: none;
	}
	.pdflinks {
		&:hover {
			transform: none;
			cursor: pointer;
		}
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 1024px) {
	// #mainArea {
	// 	position: sticky;
	// 	margin: 0;
	// 	// background: radial-gradient(ellipse farthest-corner at center top, #000000 0%, #414141 100%);
	// 	// background-image: url(../images/detective/andrew-kambel--x92Ig1Lsf4-unsplash.jpeg);
	// 	// background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

	// 	background-image: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);

	// 	background-size: 400% 400%;
	// 	animation: gradient 15s ease infinite;

	// 	color: #fff;
	// 	font-family: 'Open Sans', sans-serif;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }

	// @keyframes gradient {
	// 	0% {
	// 		background-position: 0% 50%;
	// 	}
	// 	50% {
	// 		background-position: 100% 50%;
	// 	}
	// 	100% {
	// 		background-position: 0% 50%;
	// 	}
	// }
}

.thumbnail {
	/* The image used */
	background-image: url('../images/detective/screenshot.png');
	// background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
	height: 100vh;

	// min-height: 100vh;
	// background-blend-mode: color;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	background-position: top center;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	background-repeat: no-repeat;
}

.pdfs {
	margin: auto;
}

#footer {
	margin-top: 0;
}
